<div class="flex-col border-b-1 border-text-disabled w-full recipe-card">
  <div class="">

    <img src="assets/noimg.png"
         alt=""
         class="">
  </div>
  <div class="flex flex-col p-3 gap-2">

    <div class="flex text-primary">
      <h3 class="text-xl flex-2/3">Beef Pho (Phở Bò)</h3>
      <ul
        class="actions text-xl list-none inline-flex gap-1 justify-center">
        <li>
          <fa-icon
            class="pill-close"
            [icon]="faShareNodes"/>
        </li>
        <li>
          <fa-icon
            class="pill-close"
            [icon]="faClipboardList"/>
        </li>
        <li>
          <fa-icon
            class="pill-close"
            [icon]="faBookmark"/>
        </li>
      </ul>
    </div>
    <div class="">

      <p class="text-secondary">
        A fragrant, soul-warming noodle soup built around a crystal-clear
        beef broth.</p>
    </div>
    <div class="text-primary text-lg">
      <ul class="time-serving list-none inline-flex gap-3">
        <li class="flex gap-1">
          <fa-icon
            class="pill-close"
            [icon]="faClock"/>
          <span>2 Hrs</span>

        </li>
        <li class="flex gap-1">
          <fa-icon
            class="pill-close"
            [icon]="faBowlFood"/>
          <span>10 large Bowls</span>

        </li>
      </ul>
    </div>
  </div>
</div>
